* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

/* Navbar */
nav {
    min-width: 25.375em;
    background-color: #158CC0;
    height: 2.1875em;
    width: 100%;
    padding-top: 0.9375em;
    padding-bottom: 3.125em;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav a {
    color: #ffffff;
    padding: 0.9375em;
    text-decoration: none;
}

#left {
    padding-left: 1.25em;
    font-size: 1em;
    letter-spacing: 0.125em;
}

#right {
    float: right;
    padding-right: 1.25em;
}

/* Main content */
main {
    width: 100%;
    margin: 6.25em auto 3.125em auto;
}

/* Header Section */
header {
    text-align: center;
    font-family: monospace;
}

header h2 {
    color: #158CC0;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
    margin-top: 1.25em;
}

/* Hero Section */
#hero {
    margin-top: 3.125em;
    text-align: center;
    height: 31.25em;
    max-width: 100%;
    background-image: url(shark-attacks.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    /* Set the attachment to 'fixed' for simple parallax scrolling. */
    background-size: cover;
}

#shark-hero-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-family: 'Creepster', cursive;
    font-size: 9vw;
    opacity: 0.7;
    letter-spacing: 1.25em;
    /*or use 2vw so fonts won't stack. In other words, px forces font stacking.*/
    text-shadow: 2px 2px #000000;
}

/* Info Section */
.info-container,
#info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: monospace, 'Open Sans', sans-serif;
    width: 80%;
    margin: 3.125em auto 3.125em auto;
    box-sizing: border-box;
}

#info-container {
    background-color: rgba(217, 237, 249, .4);
}

.leftside,
.rightside,
#leftside,
#rightside,
#leftside2,
#rightside2 {
    width: 48%;
    margin-bottom: 1.25em;
    padding: 0.625em;
    box-sizing: border-box;
}

.leftside h2,
.rightside h2,
#leftside h2 {
    color: #158CC0;
    font-size: 2em;
    margin-bottom: 1.25em;
    text-align: center;
}

.rightside li {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.25em;
}

.bold {
    font-weight: bold;
}

#leftside p {
    margin-bottom: 1.25em;
}

#leftside span {
    background-color: yellow;
}

#rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.25em solid #158CC0;
}

#rightside2 p {
    margin-bottom: 1.25em;
}

#rightside2 span {
    background-color: yellow;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3.75em;
}

img,
#reuben {
    margin-bottom: 1.25em;
}

#leftside2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {

    margin-left: 10%;
    margin-right: 10%;
    border: 0.3125em solid #158CC0;
}

#last-hr {
    margin-top: 6.25em;
}

/* Video Section */
#video {
    max-width: 100%;
    margin-top: 6.25em;
    text-align: center;
    margin-bottom: 15vh;
    font-family: monospace, 'Open Sans', sans-serif;
}

video {
    max-width: 80%;
}

/* Footer */
footer {
    width: 100%;
    height: 2.5em;
    margin: 0 auto;
    clear: both;
    background-color: #158CC0;
    text-align: center;
    color: #ffffff;
    padding-top: 0.9375em;
    text-transform: capitalize;
}

/* Media Queries */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .info-container,
    #info-container {
        flex-direction: row;
    }

    .leftside,
    .rightside,
    #leftside,
    #rightside {
        width: 48%;
    }
}

@media only screen and (max-width: 600px) {

    .info-container,
    #info-container {
        flex-direction: column;
    }

    .leftside,
    .rightside,
    #leftside,
    #rightside,
    #leftside2,
    #rightside2 {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {

    #left,
    #right {
        font-size: .8em;
    }

    #right {
        margin-top: 3px;
    }
}